{% extends "base.html" %}

{% block subtitle %}
  About
{% endblock subtitle %}

{% block header_js %}
  {{ super() }}

  <style>
    html, body {
      background-color: #eee;
    }
  </style>
{% endblock %}

{% block navbar_breadcrumb %}
  <ul class="nav navbar-nav oppia-navbar-breadcrumb">
    <li>
      <span class="oppia-navbar-breadcrumb-separator"></span>
      About
    </li>
  </ul>
{% endblock navbar_breadcrumb %}

{% block content %}
  <div class="oppia-page-cards-container">
    <md-card class="oppia-page-card oppia-long-text">

      {% if ABOUT_PAGE_YOUTUBE_VIDEO_ID %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ABOUT_PAGE_YOUTUBE_VIDEO_ID}}?rel=0" frameborder="0" allowfullscreen>
        </iframe>
      {% endif %}

      <a class="oppia-about-anchor" name="our-mission"></a>
      <h3>Our Mission</h3>

      <p>
        To help anyone learn anything they want in an effective and enjoyable way.
      </p>

      <a class="oppia-about-anchor" name="meet-oppia"></a>
      <h3 style="margin-top: 40px;">Meet Maestro</h3>

      <p>
        Freehold Township Schools presents, Maestro, our online learning platform connecting and helping curious minds learn and teach.  Maestro is full of interactive activities called 'explorations!'
      </p>

      <strong>Learn</strong>
      <p>
        Maestro recreates the experience of one-on-one tutoring. It adapts to your
        needs and lets you learn in the best way possible &mdash; by doing.
      </p>

      <strong>Teach</strong>
      <p>
        Maestro enables you to share your knowledge with people worldwide. Anyone can create
        and contribute to an exploration. Find out more in our <a href="/participate">participation playbook</a>.
      </p>

      <a class="oppia-about-anchor" name="contact"></a>
      <h3 style="margin-top: 40px;">Contacting Us</h3>

      <p>
        <strong>For site questions:</strong> Post to our <a href="{{SITE_FORUM_URL}}">forum</a>.
      </p>
      <p>
     

      <a class="oppia-about-anchor" name="license"></a>
      <h3>License</h3>

      <p>
        All content in Maestro's explorations is licensed under
        <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA 4.0</a>
        with a waiver of the attribution requirement (specifically, Sections 3(a)(1) and 3(a)(2)).
        If you reuse content from this site, we encourage you to include a link to the
        relevant exploration page, but do not require it.
      </p>
      <p>
        The software powering Maestro is open source, and its
        <a href="https://code.google.com/p/oppia/">code</a> is released under an
        <a href="https://www.apache.org/licenses/">Apache 2.0</a> license.
      </p>

      <a class="oppia-about-anchor" name="credits"></a>
      <h3>Credits</h3>
      <p>
        Many people have contributed to Maestro.
        Thanks to:
      </p>

      <ul style="font-size: 0.8em;">
        <li>Michael Falgares</li>
        <li>Colleen LaSalle</li>
       
      </ul>

      <p>
       Freehold Township Schools
      </p>
    </md-card>
  </div>

  <div class="nav oppia-about-right-menu hidden-sm hidden-xs">
    <strong>About Maestro</strong>
    <p><a href="#our-mission">Our Mission</a></p>
    <p><a href="#meet-oppia">Meet Maestro</a></p>
    <p><a href="#contact">Contacting Us</a></p>
    <p><a href="#license">License</a></p>
    <p><a href="#credits">Credits</a></p>
  </div>

  <script>
    // This scrolls the page to the anchor clicked on in the quick links menu.
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')) {
        var target = $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  </script>
{% endblock %}
